<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss xmlns:ev="http://purl.org/rss/1.0/modules/event/" version="2.0">
  <channel>
    <title>Raleigh NC Parks and Recreation News</title>
    <link>https://raleighnc.gov/news?department=All&amp;service=41</link>
    <description>Latest news from Raleigh Parks and Recreation</description>
    <language>en-us</language>
    <lastBuildDate>Fri, 9 Oct 2026 18:16:24 GMT</lastBuildDate>
    <item>
      <title>A Peek Inside the City Parks Greenhouse (2026-10-07)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/peek-inside-city-parks-greenhouse</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/peek-inside-city-parks-greenhouse</guid>
      <ev:startdate>2026-10-07</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/city-parks-greenhouse.png?h=854a7be2&amp;itok=auV2Ksam"/>
    </item>
    <item>
      <title>Plein Air Watercolor Painting (2026-10-07)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/plein-air-watercolor-painting</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/plein-air-watercolor-painting</guid>
      <ev:startdate>2026-10-07</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2024-06/2023%20-%20Pullen%20Arts%20Painting063.jpg?h=af64fd07&amp;itok=8b74BZej"/>
    </item>
    <item>
      <title>Pumpkin Patch Parade (2026-10-06)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/pumpkin-patch-parade</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/pumpkin-patch-parade</guid>
      <ev:startdate>2026-10-06</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/pumpkin-patch-parade.png?h=854a7be2&amp;itok=YUB2q5iq"/>
    </item>
    <item>
      <title>Celebrating Our Greenway Planners (2026-10-06)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/celebrating-our-greenway-planners</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/celebrating-our-greenway-planners</guid>
      <ev:startdate>2026-10-06</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/greenway-planners.jpg?h=9e6c008f&amp;itok=8Q59yZV3"/>
    </item>
    <item>
      <title>Laurel Hills Haunted Hallow (2026-10-06)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/laurel-hills-haunted-hallow</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/laurel-hills-haunted-hallow</guid>
      <ev:startdate>2026-10-06</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/haunted-hallows.png?h=854a7be2&amp;itok=t-_-MAGt"/>
    </item>
    <item>
      <title>Santa's Trolley (2026-10-06)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/santas-trolley</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/santas-trolley</guid>
      <ev:startdate>2026-10-06</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/santas-trolley%20%283%29.png?h=854a7be2&amp;itok=r6XjsDmj"/>
    </item>
    <item>
      <title>City of Raleigh Museum Exhibit Receives Newsome Award (2026-10-05)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/city-raleigh-museum-exhibit-receives-newsome-award</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/city-raleigh-museum-exhibit-receives-newsome-award</guid>
      <ev:startdate>2026-10-05</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/patterns.jpg?h=c018f701&amp;itok=UJPgHaNk"/>
    </item>
    <item>
      <title>Monster Mash Paddle Bash! (2026-10-02)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/monster-mash-paddle-bash</link>
      <guid isPermaLink="true">https://raleighnc.gov/parks-and-recreation/news/monster-mash-paddle-bash</guid>
      <ev:startdate>2026-10-02</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 22:20:00 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2026-10/lake-witches.jpg?h=ca410fca&amp;itok=l2nnsUec"/>
    </item>
  </channel>
</rss>
