<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Raleigh NC Parks and Recreation News</title>
    <link>https://raleighnc.gov/news?department=All&amp;service=41</link>
    <description>Latest news from Raleigh Parks and Recreation</description>
    <language>en-us</language>
    <lastBuildDate>Thu, 1 Jan 2026 00:16:02 GMT</lastBuildDate>
    <item>
      <title>Living Legends: C.A.R.V.E. into Black Raleigh (Dec 22, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/living-legends-carve-black-raleigh</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/living-legends-carve-black-raleigh</guid>
      <pubDate>Wed, 31 Dec 2025 11:16:10 GMT</pubDate>
      <description>&lt;p&gt;&lt;strong&gt;Panel Discussion: “Living Legends of Raleigh”&lt;/strong&gt;&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;An unforgettable evening as we honor the living legends of Raleigh, North Carolina—visionaries, trailblazers, and community champions whose work has shaped the cultural, social, and economic landscape of the Black community. This powerful panel discussion will spotlight the individuals who have not only witnessed history but made history.
&lt;br&gt;
&lt;br&gt;
This celebration is a moment to give them their flowers, celebrate their resilience, and acknowledge the impact of their decades of service. Through conversation, storytelling, and shared wisdom, these icons will reflect on their journeys, the challenges they've overcome, and the legacy they continue to build.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;&lt;strong&gt;Discussion Themes&lt;/strong&gt;&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Location: John P. "Top" Green African American Cultural Center
&lt;br&gt;
Date: Sunday, Feb. 8
&lt;br&gt;
Time: 3 - 5 p.m.
&lt;br&gt;
Ages: All
&lt;br&gt;
Cost: Free
&lt;br&gt;
&lt;em&gt;No Registration is Required&lt;/em&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-12/2025-RenamingReception-TopGreene053%20%281%29.jpg?h=ada948f0&amp;itok=0vMxTbDf"/>
    </item>
    <item>
      <title>Poetry Jam &amp; Creative Writing Throwdown (Dec 30, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/poetry-jam-creative-writing-throwdown</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/poetry-jam-creative-writing-throwdown</guid>
      <pubDate>Tue, 30 Dec 2025 22:16:09 GMT</pubDate>
      <description>&lt;p&gt;Join fellow writers and orators in an informal and welcoming space where we are free to craft, read, and spit poetry, prose, and spoken word. Whether you're working on a masterpiece or just jotting down thoughts, let's share inspiration and creativity as we unleash the powerful beauty of words. Bring your writing, your voice, and your open ear!&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Location: Five Points Center for Active Adults
&lt;br&gt;
Date: The third Friday of every month
&lt;br&gt;
Time: 3 - 5 p.m.
&lt;br&gt;
Ages: 18 and older
&lt;br&gt;
Cost: Free
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/iteminfo.html?Module=AR&amp;amp;FMID=449625583&amp;amp;InterfaceParameter=WebTrac" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-12/2023%20-%20Rise%20Up%21%20Poetry%20Reading103%20%281%29.jpg?h=2e111cc1&amp;itok=E_XoJbVX"/>
    </item>
    <item>
      <title>Introduction to Whitewater Kayaking (Dec 30, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/introduction-whitewater-kayaking</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/introduction-whitewater-kayaking</guid>
      <pubDate>Tue, 30 Dec 2025 19:16:11 GMT</pubDate>
      <description>&lt;p&gt;Our certified instructors will guide you through the basics, including how to launch your kayak, proper posture, paddle strokes, and self-rescue. Whether you are brand new to kayaking or looking to sharpen your skills, this pool-based class has you covered. All equipment is provided.
&lt;br&gt;
&lt;br&gt;
Please wear a bathing suit or other clothing that can get wet. Bring a towel, change of clothing, water bottle, and any necessary snacks. Goggles and nose clip are recommended but not required.
&lt;br&gt;
&lt;br&gt;
Location: Optimist Pool
&lt;br&gt;
Date: Saturday, Jan. 24
&lt;br&gt;
Time: &amp;nbsp;Noon - 4 p.m.
&lt;br&gt;
Ages: 14 and older&amp;nbsp;
&lt;br&gt;
Cost: $65 Residents / $80 Non-Residents
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=kh5W6G5S0C032N26272L484H045U5E580A6D5E4B561H5V5B5F5M0A5O4S57511I735A4N45045L4S4P5A0O605V6U4Y085V4U4O5V0F5U4J5I4E0E4V675E6I1C5M645E&amp;amp;keyword=Introduction+to+Whitewater+Kayaking&amp;amp;location=Optimist+Pool&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=No&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/kayak-pool.jpg?h=8f9cfe54&amp;itok=Df0Ai2cw"/>
    </item>
    <item>
      <title>LGBTQIA+ Film Series (Dec 30, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/lgbtqia-film-series</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/lgbtqia-film-series</guid>
      <pubDate>Tue, 30 Dec 2025 19:16:11 GMT</pubDate>
      <description>&lt;p&gt;&lt;br&gt;
&lt;span&gt;Join us for our monthly program on the first and fourth Tuesday of the month. We will be showcasing films with diverse themes around sexuality and gender.&amp;nbsp;&lt;/span&gt;
&lt;br&gt;
&lt;br&gt;
&lt;span&gt;This program is co-hosted with the Carolina Aging Alliance. All folks 18+ are welcome! January's first film is "Beyond Stonewall: Exploring LGBTQ+ History Through the Smithsonian Archives," a deep dive into the incredible objects from the National Museum of American History that showcases the rich history of the LGBTQIA+ community, from the turn of the 20th century, through the Stonewall Riots in 1969 and beyond.&amp;nbsp;&lt;/span&gt;
&lt;br&gt;
&lt;br&gt;
&lt;span&gt;Seating is limited, so please register in person or online. To register, visit reclink.raleighnc.gov and search keyword "LGBTQIA" or in person at any community center.&lt;/span&gt;
&lt;br&gt;
&lt;br&gt;
Location: Five Points Center
&lt;br&gt;
Date: Tuesday, Jan. 6
&lt;br&gt;
Time: 2 p.m.
&lt;br&gt;
Age: 18 and older
&lt;br&gt;
Cost: Free
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/iteminfo.html?Module=AR&amp;amp;FMID=449665929&amp;amp;InterfaceParameter=WebTrac" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-09/LGBTQIA%20Film%20Series%20Flyer%20Photo.jpg?h=ddc58dd3&amp;itok=NKZuoSVq"/>
    </item>
    <item>
      <title>Cupid's Workshop (Dec 29, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/cupids-workshop</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/cupids-workshop</guid>
      <pubDate>Mon, 29 Dec 2025 22:16:05 GMT</pubDate>
      <description>&lt;p&gt;Kids will have the chance to make handmade cards, gifts, and keepsakes for someone special. Supplies will be provided.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Location: &lt;span&gt;Brier Creek Community Center&lt;/span&gt;
&lt;br&gt;
Date: Tuesday, Feb. 3
&lt;br&gt;
Time:&amp;nbsp;5:30 - 7 p.m.
&lt;br&gt;
Ages: 5 - 10
&lt;br&gt;
Cost: $5
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=ia011D07031M2D3B233D404I5H5J5I5G6R4X5Z4Q4R0C6U4W5D5909714E64576855566N4F0Z5W5Q6V55065U4O6D4M1H4O4A5S506N6J52515A0E5P4P5D4U6N01534O&amp;amp;keyword=Crafts%3A+Cupids+Workshop&amp;amp;location=Brier+Creek+Community+Center&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=No&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-12/Cupid%27s%20Workshop%20%282%29.jpg?h=c213c3fd&amp;itok=ryyIf33r"/>
    </item>
    <item>
      <title>Evening Yoga at Halifax Community Center (Dec 23, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/evening-yoga-halifax-community-center</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/evening-yoga-halifax-community-center</guid>
      <pubDate>Mon, 29 Dec 2025 19:16:11 GMT</pubDate>
      <description>&lt;p&gt;&amp;nbsp;Join this all-levels yoga class where you can progress at your own pace in a supportive environment. This weekly class offers a well-rounded practice to support strength, mobility, and stress relief.&amp;nbsp;
&lt;br&gt;
&lt;br&gt;
Bring your mat and any props (blocks, straps, blanket) that support you. Expect a little movement, a little sweat, and a lot of good vibes!
&lt;br&gt;
&lt;br&gt;
Location: Halifax Community Center
&lt;br&gt;
Date: Thursdays starting Jan. 8
&lt;br&gt;
Time: 6 - 7 p.m.
&lt;br&gt;
Ages: 18 and older
&lt;br&gt;
Cost: $15 for drop-in / $55 for monthly
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=wl6J6X691G162Q2Y1W372Y4I72614Q4B006U5P4U6A17084J6J686A725Z6T4N0L5D4H6F4E715M6C6E556Z4P4Q5D556Q504K52686Q5O4E5T51055F3S5C6F0D543S53&amp;amp;keyword=yoga&amp;amp;location=Halifax+Community+Center&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=No&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-12/iStock-515675096%20%281%29.jpg?h=ad876230&amp;itok=1_qcKrlf"/>
    </item>
    <item>
      <title>Free Friday at Mordecai Historic Park (Dec 23, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/free-friday-mordecai-historic-park-0</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/free-friday-mordecai-historic-park-0</guid>
      <pubDate>Mon, 29 Dec 2025 19:16:11 GMT</pubDate>
      <description>&lt;p&gt;Mordecai Historic Park will offer free tours throughout the day on this special Friday! Tours include the Mordecai House, Andrew Johnson’s birthplace, St. Mark’s Chapel, and the Allen Kitchen.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Tours begin every 30 minutes and are limited to 20 people per tour. Starting at the Visitor Center, the first tour will begin at 10:00 a.m. and the last tour starts at 3:00 p.m.
&lt;br&gt;
&lt;br&gt;
No registration is necessary. For more information, please call &lt;a href="tel:9199964364" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"&gt;919-996-4364&lt;/a&gt;.
&lt;br&gt;
&lt;br&gt;
Location: Mordecai Historic Park
&lt;br&gt;
Date: Friday, Jan. 23
&lt;br&gt;
Time: 10 a.m. - 4 p.m.
&lt;br&gt;
Ages: All
&lt;br&gt;
Cost: Free&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2020-04/mordecai-historic-park-spring.jpg?h=d1cb525d&amp;itok=TefEJK6x"/>
    </item>
    <item>
      <title>New Year, New Classes! (Dec 29, 2025)</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/new-year-new-classes</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/new-year-new-classes</guid>
      <pubDate>Mon, 29 Dec 2025 14:16:09 GMT</pubDate>
      <description>&lt;p&gt;Whether you want to sweat, build strength, or slow things down, our updated lineup offers something for every body and every goal, alongside our popular weekly yoga class.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Take your workout beyond four walls with this high-energy indoor/outdoor class at Lake Johnson. After a quick warm-up indoors, you’ll head outside to rotate through high-intensity stations using resistance bands, bodyweight exercises, jump ropes, jogging, and more. HIIT (&lt;em&gt;High-Intensity Interval Training&lt;/em&gt;) is one of the most effective ways to boost metabolism and burn calories—perfect for anyone looking to jumpstart their fitness routine. Registration in advance is required.
&lt;br&gt;
&lt;br&gt;
Location: &lt;span&gt;Thomas G. Crowder Woodland Center&lt;/span&gt;
&lt;br&gt;
Dates &amp;amp; Times: Starting in Feb. on the first Wednesdays (6 - 7 p.m.) and third Sundays (9 - 10 a.m.)
&lt;br&gt;
Ages: 18 and up
&lt;br&gt;
Cost: $14/session
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=kl156Y0H1H6Z3I471Z3H2T5K5O4M6H5E1D655T4Y681A6T4M6N6H035E5Z6E4U0I73686E4T725P4E576G05714J5D6872085Z5M696R5N4M5050095V4S6E58005L4V58&amp;amp;keyword=%23LJPWinter26&amp;amp;type=Health+and+Wellness&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=Yes&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Build strength, sculpt lean muscle, and learn smart training techniques in this hypertrophy-focused class. Using resistance bands, suspension trainers, and bodyweight exercises, you’ll target all major muscle groups with an emphasis on proper form and effective movement. This empowering class is ideal for adults ready to feel stronger and more confident in their workouts. Registration in advance is required.
&lt;br&gt;
&lt;br&gt;
Location: &lt;span&gt;Thomas G. Crowder Woodland Center&lt;/span&gt;
&lt;br&gt;
Dates &amp;amp; Times: Starting in Feb. on the second Wednesdays (6 - 7 p.m.) and fourth Sundays (9 - 10 a.m.)&amp;nbsp;
&lt;br&gt;
Ages: 18 and older
&lt;br&gt;
Cost: $14/session
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=kl156Y0H1H6Z3I471Z3H2T5K5O4M6H5E1D655T4Y681A6T4M6N6H035E5Z6E4U0I73686E4T725P4E576G05714J5D6872085Z5M696R5N4M5050095V4S6E58005L4V58&amp;amp;keyword=%23LJPWinter26&amp;amp;type=Health+and+Wellness&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=Yes&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;p&gt;Our beloved yoga class continues at the Thomas G. Crowder Woodland Center, offering a peaceful midweek reset surrounded by wooded views. This all-levels class blends gentle stretching, mindful breathing, balance work, and flowing sequences to reduce stress, improve strength, and support alignment. Modifications and props make it accessible for everyone—just come as you are and leave feeling refreshed. Advance registration preferred, drop-in registration welcomed.
&lt;br&gt;
&lt;br&gt;
Location: &lt;span&gt;Thomas G. Crowder Woodland Center&lt;/span&gt;
&lt;br&gt;
Date: Tuesdays starting Jan. 6
&lt;br&gt;
Time: 6:30 - 7:30 p.m.
&lt;br&gt;
Ages: 18 and older
&lt;br&gt;
Cost: $61 Residents / &amp;nbsp;$76 Non-residents per 6-week session
&lt;br&gt;
&lt;a href="https://ncraleighweb.myvscloud.com/webtrac/web/search.html?Action=Start&amp;amp;SubAction=&amp;amp;_csrf_token=kl156Y0H1H6Z3I471Z3H2T5K5O4M6H5E1D655T4Y681A6T4M6N6H035E5Z6E4U0I73686E4T725P4E576G05714J5D6872085Z5M696R5N4M5050095V4S6E58005L4V58&amp;amp;keyword=%23LJPWinter26&amp;amp;type=Health+and+Wellness&amp;amp;grade=&amp;amp;keywordoption=Match+One&amp;amp;primarycode=&amp;amp;showwithavailable=Yes&amp;amp;beginyear=&amp;amp;bydayonly=No&amp;amp;spotsavailable=&amp;amp;gender=&amp;amp;timeblock=&amp;amp;dayoption=Any&amp;amp;endmonth=&amp;amp;display=Detail&amp;amp;search=yes&amp;amp;page=1&amp;amp;module=AR&amp;amp;multiselectlist_value=&amp;amp;arwebsearch_buttonsearch=yes" class="ext" data-extlink="" target="_blank" rel="noopener nofollow" title="(opens in a new window)"&gt;Register on RecLink
 &lt;svg focusable="false" width="1em" height="1em" class="ext" data-extlink-placement="append" aria-label="(link is external)" viewBox="0 0 80 40" role="img" aria-hidden="false"&gt;
  &lt;title&gt;(link is external)&lt;/title&gt;&lt;path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"&gt;&lt;/path&gt;&lt;path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"&gt;&lt;/path&gt;
 &lt;/svg&gt;&lt;/a&gt;&lt;/p&gt;</description>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-12/IC3A0777%20%281%29.jpg?h=dc82e501&amp;itok=F5XgW4Kj"/>
    </item>
  </channel>
</rss>
